@import './reset.css';

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
  font-family: 'MangoDdobak-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MangoDdobak-L';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-L.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MangoDdobak-R';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-R.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Galmetgol';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_04@1.0/Galmetgol.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  /* font-family: 'MangoDdobak-R'; */
  /* font-family: 'nanumsquare'; */
}

#root {
  display: flex;
  flex-direction: column;
  line-height: 150%;
  /* background-color: #fff7d9; */
  background-color: white;
}
